<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corptia.bringero">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.Main.resetPassword.ResetPasswordStepTwo"></activity>
        <activity android:name=".ui.webview.WebViewActivity" />
        <activity android:name=".ui.test.TestActivity" />
        <activity
            android:name=".ui.Main.signup.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.Main.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Main.suspend.SuspendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Main.underMaintenance.UnderMaintenanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Main.comingSoon.ComingSoonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.allowLocation.AllowLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.orderStoreDetail.OrderStoreDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tracking.TrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchProductsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.home.cart.checkOut.CheckOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.location.AllLocation.LocationsDeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.location.addNewLocation.AddNewLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.location.deliveryLocation.SelectDeliveryLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pricingProduct.PricingProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.ordersDetails.OrdersPaidDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.locations.LocationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.cart.CartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Main.resetPassword.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.language.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.contactUs.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.changePassword.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.editProfile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.main.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.productDetail.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.storesDetail.StoreDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.stores.StoresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.Main.otp.VerifyPhoneNumberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.MapWork.MapsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullWindow" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service
            android:name=".FireBase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
            -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_logo_app" />
            <!--
                 Set color used with incoming notification messages. This is used when no color is set for the incoming
                 notification message. See README(https://goo.gl/6BKBk7) for more.
            -->

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        </service>
    </application>

</manifest>